$vert: #33b698;

main.accueil {
    a {
        text-decoration: none;
    }

    .banniere {
        position: relative;
        height: 90vh;

        @media (max-width: 768px) {
            height: 75vh;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            color: white;
            z-index: 1;

            @media (max-width: 768px) {
                width: 75%;
            }

            &.burger {
                z-index: 0;
            }
        }

        div {
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .75);
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    #creer-un-trajet {
        width: 90%;
        padding: 100px 0 50px;
        margin: auto;

        @media (max-width: 768px) {
            padding: 50px 0 25px;
            margin: auto;
        }

        h2 {
            margin-bottom: 50px;
        }

        #trajet {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            background-color: $vert;
            border-radius: 50px;
            padding: 10px;

            @media (max-width: 768px) {
                flex-direction: column;
                border-radius: 25px;
            }

            div {
                width: 25%;

                @media (max-width: 768px) {
                    width: 100%;
                }

                label {
                    display: none;
                }

                input {
                    height: 50px;
                    width: 100%;
                    border: none;
                    padding: 0 10px;
                    box-sizing: border-box;

                    &:focus {
                        outline-color: black
                    }
                }

                &:first-of-type input {
                    border-radius: 25px 0 0 25px;

                    @media (max-width: 768px) {
                        border-radius: 25px 25px 0 0;
                    }
                }

                &:last-of-type input {
                    border-radius: 0 25px 25px 0;

                    @media (max-width: 768px) {
                        border-radius: 0 0 25px 25px;
                    }
                }
            }
        }

        button {
            margin-bottom: 0;
        }
    }

    .texte-defilant {
        padding-top: 50px;
        overflow: hidden;

        @media (max-width: 768px) {
            padding-top: 25px;
        }
        
        .animation {
            display: flex;
            animation: text-defilant 30s linear infinite;

            .textes {
                display: flex;
                flex-shrink: 0;

                p {
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    font-size: 50px;
                    font-weight: bold;
                    margin-left: 50px;

                    @media (max-width: 768px) {
                        gap: 25px;
                        font-size: 25px;
                        margin-left: 25px;
                    }

                    &::after {
                        content: "";
                        height: 25px;
                        width: 25px;
                        display: block;
                        border-radius: 100%;

                        @media (max-width: 768px) {
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }

    @keyframes text-defilant {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    section.texte-defilant p {
        color: $vert;

        &::after {
            background-color: $vert;
        }
    }

    #voir-les-trajets-disponibles {
        background-color: $vert;
        padding-bottom: 100px;

        @media (max-width: 768px) {
            padding-bottom: 50px;
        }
        
        .texte-defilant {
            rotate: 180deg;

            p {
                color: white;

                &::after {
                    background-color: white;
                }
            }
        }

        .trajets {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            margin: 50px auto 0;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 25px;
                margin-top: 25px
            }

            .trajet {
                background-color: white;
            }
        }

        .vide {
            color: white;
        }
    }
}
