$vert: #33b698;

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li, button, label, input {
    font-family: "DM Sans", sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

p, a, li, button, input, select, label {
    font-size: 20px;
}

button {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    color: $vert;
    background-color: transparent;
    border: solid 3px $vert;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 50px auto;

    &::after {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url('../images/fleche.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .25s ease;
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: rotate(45deg);
        }
    }

    &.white {
        color: white;
        border-color: white;
        margin-bottom: 0;

        &::after {
            filter: brightness(3);
        }
    }
}

.trajet {
    border-radius: 25px;
    padding: 50px 25px;

    .icone {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 35px;

        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
            object-position: center;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
        }
    }

    button {
        margin: 0 auto;

        &.invalide {
            background-color: $vert;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.annuler {
    color: black;

    &::before {
        content: "< ";
    }
}
