header {
    .desktop, .mobile {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        .logotype {
            margin: 10px 0;

            img {
                width: 100%;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            a {
                font-weight: bold;
                color: black;
                text-decoration: none;

                @media (max-width: 768px) {
                    color: white;
                }
            }
        }

        .profil {
            width: 40px;

            img {
                width: 100%;
            }
        }
    }

    .desktop {
        margin: 0 auto 50px;

        @media (max-width: 768px) {
            display: none;
        }

        .logotype {
            width: 10%;
        }

        ul {
            gap: 100px;
        }
    }

    .mobile {
        position: relative;
        margin: 0 auto 25px;
        
        @media (min-width: 769px) {
            display: none;
        }

        .logotype {
            width: 30%;
        }

        .burger, .croix {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            color: white;
            line-height: 0;

            img {
                width: 100%;
            }
        }

        .burger {
            right: 0;
        }

        .croix {
            right: 5%;
            display: none;
        }

        nav {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            height: 100vh;
            width: 100%;
            background-color: #000;

            ul {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 75%;
                flex-direction: column;
                gap: 50px;

                a {
                    font-size: 20px;
                }
            }
        }

        &.ouvert {
            width: 100%;

            .burger {
                display: none;
            }

            .croix {
                display: block;
                z-index: 1;
            }

            nav {
                display: block;
            }

            .profil img {
                filter: invert(1);
            }
        }
    }
}

.scroll {
    position: fixed;
    width: 100%;
}

header.accueil .desktop, header.accueil .mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

header.accueil .desktop {
    a {
        color: white;
    }

    .profil img {
        filter: invert(1);
    }
}

header.accueil .burger img {
    filter: invert(1);
}
