$vert: #33b698;

.profil {
    .profil img {
        filter: invert(1);
    }

    main {
        width: 75%;
        margin: auto;

        .conteneur {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            .navigation {
                height: fit-content;
                width: 25%;
                background-color: $vert;
                border-radius: 25px;

                ul {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    list-style: none;
                    padding: 50px 10px;
                    margin: auto;

                    a {
                        color: white;

                        &.deconnexion {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            &::before {
                                content: "";
                                height: 15px;
                                width: 15px;
                                background-image: url('../images/deconnexion.svg');
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }

            .informations {
                width: 70%;

                .centre {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: auto;

                    p {
                        width: fit-content;
                    }

                    button {
                        margin: 25px auto 0 ;
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        
                        div {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            input, select {
                                border: solid 2px $vert;
                                padding: 10px;

                                &:focus {
                                    outline-color: black;
                                }
                            }

                            select {
                                appearance: none;
                                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2333b698' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e") no-repeat;
                                background-position: right 10px center;
                                background-size: 20px;
                                padding-right: 40px
                            }

                            &.nom {
                                flex-direction: row;
                                gap: 10px;
                            }
                        }
                    }

                    &.largeur {
                        width: 70%;

                        #trajet {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }

                .modifier {
                    display: flex;
                    justify-content: center;
                    gap: 25px;
                    margin-top: 25px;

                    a {
                        color: black;
                    }
                }

                .grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 25px;

                    .trajet {
                        position: relative;
                        color: white;
                        background-color: $vert;
                        padding: 60px 25px 25px;

                        .statut {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            background-color: white;
                            border-radius: 25px;
                            padding: 2.5px;

                            p {
                                font-size: 15px;
                                color: white;
                                border-radius: 25px;
                                padding: 5px 10px;
                            }

                            .a-venir {
                                background-color: $vert;
                            }

                            .effectue {
                                background-color: red;
                            }
                        }

                        img {
                            filter: invert(1);
                        }
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
